/*
/*/
!.gitignore
!LICENSE
!README.md
!archlinux-packages.txt
!.config/
.config/*
!.config/nvim
!.config/rofi
!.local/
.local/*
!.local/src/
.local/src/aur
.local/src/dwm-6.5/dwm
.local/src/dwm-6.5/dwm.o
!.local/share/
.local/share/*
!.local/share/doc
!.bashrc
!.editrc
!.inputrc
!.tmux.conf
!.xinitrc
!.wezterm.lua
!.zshrc
