/*
/*/
!.gitignore
!.wallpaper.png
!LICENSE
!README.md
!archlinux-packages.txt
!.config/
.config/*
!.config/hypr
!.config/nvim
!.config/rofi
!.config/waybar
!.local/
.local/*
!.local/src/
.local/src/aur
.local/src/dwm-6.5/dwm
.local/src/dwm-6.5/dwm.o
!.local/share/
.local/share/*
!.local/share/doc
!.bashrc
!.editrc
!.inputrc
!.tmux.conf
!.xinitrc
!.wezterm.lua
!.zshrc
!.xbindkeysrc
!.config/qutebrowser
.config/qutebrowser/*
!.config/qutebrowser/config.py
