/*
/*/
!.gitignore
!.wallpaper.png
!COPYING
!LICENSE
!README.md
!.config/
.config/*
!.config/foot
!.config/lf
!.config/mako
!.config/ncdu
!.config/niri
!.config/nvim
!.config/rofi
!.config/user-dirs.dirs
!.local/
.local/*
!.local/src/rbm0407-scripts
!.local/src/tmux-power
!.local/share/
.local/share/*
!.local/share/doc
!.bashrc
!.editrc
!.inputrc
!.tmux.conf
!.xinitrc
!.zshrc
!.config/qutebrowser
.config/qutebrowser/*
!.config/qutebrowser/config.py
